@page "/participants/edit/{Id:int}"
@inject IRepository repository
@inject NavigationManager navigationManager

<h3>Editar Participante</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
else if (Participant != null)
{
    <ParticipantForm @ref="participantForm" Participant="Participant" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    [Parameter] public int Id { get; set; }
    private Participant Participant { get; set; } = new();
    private ParticipantForm participantForm;
    public string ErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<Participant>($"/api/participants/{Id}");
        if (!response.Error)
        {
            Participant = response.Response;
        }
        else
        {
            ErrorMessage = "Error al cargar el participante.";
        }
    }

    private async Task Edit()
    {
        var response = await repository.PutAsync("/api/participants", Participant);
        if (!response.Error)
        {
            navigationManager.NavigateTo("/participants");
        }
        else
        {
            ErrorMessage = "Error al actualizar el participante.";
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/participants");
    }
}
