<EditForm Model="@HackathonEntity" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Nombre:</label>
        <InputText class="form-control" @bind-Value="HackathonEntity.Name" />
    </div>

    <div class="mb-3">
        <label>Tema Principal:</label>
        <InputText class="form-control" @bind-Value="HackathonEntity.MainTheme" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</EditForm>

@code {
    [Parameter] public HackathonEntity HackathonEntity { get; set; } = new();
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public EventCallback ReturnAction { get; set; }
}
