@page "/teams/edit/{Id:int}"
@inject IRepository repository
@inject NavigationManager navigationManager

<h3>Editar Equipo</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
else if (Team != null)
{
    <TeamForm @ref="teamForm" Team="Team" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    [Parameter] public int Id { get; set; }
    private Team Team { get; set; } = new();
    private TeamForm teamForm;
    public string ErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<Team>($"/api/teams/{Id}");
        if (!response.Error)
        {
            Team = response.Response;
        }
        else
        {
            ErrorMessage = "Error al cargar el equipo.";
        }
    }

    private async Task Edit()
    {
        var response = await repository.PutAsync("/api/teams", Team);
        if (!response.Error)
        {
            navigationManager.NavigateTo("/teams");
        }
        else
        {
            ErrorMessage = "Error al actualizar el equipo.";
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/teams");
    }
}
